<footer class="footerContainer">
  <section class="footerLogoContainer">
    <h3>Students</h3>
    <nav>
      <a href="https://owu.com.ua/" target="_blank">
        <figure>
          <img src="./assets/Blue-Big-Bird-Final-Logo.webp" alt="owu">
        </figure>
      </a>
    </nav>
  </section>

  <p>&copy; Students, 2023. All rights reserved.</p>

  <nav>
    <a href="https://www.facebook.com/profile.php?id=100008706481353&mibextid=ZbWKwL" target="_blank">
      <mat-icon>facebook</mat-icon>
    </a>
    <!--    <a href="" target="_blank"><mat-icon>twitter</mat-icon></a>-->
    <a href="" target="_blank">
      <mat-icon>camera_enhance</mat-icon>
    </a>
  </nav>
</footer>
