.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 15vh;
  box-sizing: border-box;
  padding: 0 20px;

  background-color: #22539f;
  color: snow;
}

.headerContainer > button {
  font-weight: 600;
  font-size: 20px;
}

.headerContainer > div {
  display: flex;
}

.headerButtonAdmin {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.headerButtonAdmin > button {
  font-size: 20px;
  font-weight: 600;
}
