<div>
  <div class="ordersHeaderContainer">
    <div>
      <app-orders-filter-input *ngFor="let option of filtersOptions" [filterOptions]="option"></app-orders-filter-input>
      <app-datepicker></app-datepicker>
    </div>

    <div class="ordersHeaderCheckboxContainer">
      <mat-checkbox class="example-margin"
                    color="primary"
                    [checked]="isChecked"
                    (change)="getMy($event)">

      </mat-checkbox>
      <mat-label>My</mat-label>
    </div>

    <div>
      <button mat-icon-button (click)="resetFilters()">
        <mat-icon color="primary">filter_alt_off</mat-icon>
      </button>

      <button mat-icon-button (click)="getExcel()">
        <mat-icon color="primary">sim_card_download</mat-icon>
      </button>
    </div>
  </div>

  <mat-progress-bar *ngIf="isLoading;else isNotLoading" mode="indeterminate"></mat-progress-bar>
  <app-orders-table></app-orders-table>
</div>


<ng-template #isNotLoading>
  <mat-progress-bar mode="determinate"></mat-progress-bar>
</ng-template>
