.ordersStatisticContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 55vh;
}

.ordersStatisticContainer > h2 {
  font-size: 30px;

  box-sizing: border-box;
  padding: 25px;
  margin: 2vw;

  color: snow;
  background-color: #4e48da;

  border-radius: 25px;
}

.ordersStatisticStatusesContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ordersStatisticStatusesContainer > div {
  width: 15vw;
}

.ordersStatisticStatusesContainer p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  font-weight: 600;

  box-sizing: border-box;
  padding: 25px;

  color: snow;
  background-color: #060370;

  border-radius: 25px;
}

.ordersStatisticContainer > mat-divider {
  width: 100%;
}
