.commentsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.commentsContainer > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field{
  width: 40vw;
}
