<div>
  <h2>Comments</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content #allComments>
    <div>
      <div class="commentContainer {{this.isAdminComment(comment) ? 'commentAdmin' : ''}}"
           *ngFor="let comment of comments"
      >
        <div>
          <div class="avatar {{this.isAdminComment(comment) ? 'adminAvatar' : 'userAvatar'}}">
            <span>{{getInitialManager(comment.manager)}}</span>
          </div>
        </div>

        <mat-card>
          <mat-card-content>
            <h3>{{comment.manager.name}} </h3>
            <p>{{comment.comment}}</p>
            <p class="commentDate">{{getDate(comment.created_at)}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</div>
