<mat-form-field appearance="fill" *ngIf="filterOptions.isNotSelect; else isSelectOptions">
  <mat-label>{{filterOptions.inputName}}</mat-label>
  <input type="{{filterOptions.type}}" matInput (keyup)="getValue($event)" [value]="value">
</mat-form-field>


<ng-template #isSelectOptions>
  <mat-form-field appearance="fill">
    <mat-label>{{filterOptions.inputName}}</mat-label>
    <mat-select [value]="value">
      <mat-option *ngFor="let option of filterOptions.selectOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
