<div *ngIf="user" class="headerUserMenuContainer">
  <h2 class="headerUserName">{{user.profile.name}}</h2>

  <button mat-icon-button [matMenuTriggerFor]="menuAvatar">
    <div class="avatar">
      <span>{{userInitials}}</span>
    </div>
  </button>

  <mat-menu #menuAvatar="matMenu">
    <div class="headerUserMenu" (click)="$event.stopPropagation()">
      <div class="headerUserMenuHeader">
        <h3>{{user.profile.name}} {{user.profile.surname}}</h3>
        <p>{{user.email}}</p>
      </div>

      <mat-divider></mat-divider>

      <div class="headerUserMenuContent">
        <p>Status: {{user.is_superuser ? 'Admin' : 'User'}}</p>
        <p>Last login: {{user.last_login}}</p>
        <p>Last update: {{user.update_at}}</p>
        <p>Created: {{user.create_at}}</p>

        <div>
          <button mat-raised-button color="primary" (click)="logOut()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-menu>
</div>
