<div class="userContainer">
  <input type="checkbox" id='{{user.id}}'>
  <label htmlFor='{{user.id}}'>
    <div class="reversible">
      <div class="card tile-back">
        <div class="card-body">
          <p><b>Name</b>: {{user.profile.name}}</p>
          <p><b>Surname</b>: {{user.profile.surname}}</p>
          <p><b>Is Active</b>: {{user.is_active}}</p>
          <p><b>Is Admin</b>: {{user.is_superuser}}</p>
          <p><b>Created</b>: {{user.create_at}}</p>
          <p><b>Last Login</b>: {{user.last_login}}</p>

          <button mat-button (click)="copyLinkActivation()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
      <div class="card tile-front">
        <div class="card-body">
          <h3>ID: {{user.id}}</h3>
          <h4>Email: {{user.email}}</h4>

          <div class="banButtonsContainer">
            <button mat-button (click)="banUser()">
              <mat-icon>no_accounts</mat-icon>
              <span>Ban</span>
            </button>

            <button mat-button (click)="unbanUser()">
              <mat-icon>account_circle</mat-icon>
              <span>Unban</span>
            </button>
          </div>

          <button mat-button (click)="showStatistic()">
            <mat-icon>query_stats</mat-icon>
            <span>Statistic</span>
          </button>
        </div>
      </div>
    </div>
  </label>
</div>
