.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: snow;
}

.loginFormEmailInput {
  width: 236px;
}

.loginFormError {
  font-size: 14px;
}
