<form [formGroup]="form">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-error *ngIf="error" class="loginFormError">Username or Password is incorrect</mat-error>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
